/** Fonts **/
@font-face {
    font-family: "Share Tech";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/share_tech/ShareTech-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/** Globals **/
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: "Share Tech", sans-serif;
}

:root {
    --color-main: #03A062;
    --color-secondary: #282a36de;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    min-height: 480px;
}

/** View **/
.view {
    height: 100%;
    width: 100%;
    background: url("./assets/background0001.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** ------------------------------------------------------------------- **/

/** Header **/
.header {
    width: calc(100% - 10%);
    height: 200px;
    padding-left: 5%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -50px;
}

.header .title {
    display: inline-block;
    width: 600px;
    color: white;
    font-size: 104px;
    z-index: 2;
    letter-spacing: 0.6px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    text-align: center;
}

.header .title:hover {
    opacity: 0;
}

.header .titleHighlight {
    display: inline-block;
    margin-left: -600px;
    z-index: 1;
    width: 600px;
}

.header .separator {
    z-index: 3;
    cursor: pointer;
    margin-left: -40px;
    font-size: 70px;
    color: white;
}

/** Pages **/

.pages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.pages > * {
    cursor: pointer;
}

.pages div {
    margin-left: 20px;
    max-width: 190px;
    margin-right: 20px;
    height: 50px;
    text-align: center;
    position: relative
}

.pages div h2 {
    text-align: center;
    font-size: 45.5px;
    letter-spacing: -0.2px;
    margin: auto;
    z-index: 2;
    margin-bottom: -80px;
    position: relative;
    transition: text-shadow 0.3s ease-in-out, color 0.2s ease-in-out;
    opacity: 1;
}

.pages div img {
    visibility: hidden;
    z-index: 1;
    width: 100%;
    margin-bottom: -50px;
    max-width: 100%;
    transform: scale(1.5);
    overflow: hidden;
    position: relative
}

.pages div h2:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 95px var(--color-main),
        0 0 100px var(--color-main),
        0 0 105px var(--color-main),
        0 0 150px var(--color-main);
}

.pages div h2:active {
    color: var(--color-main)
}

.pages div:hover > div {
    width: 100%;
}

/** Collapsed pages **/

.colPages {
    position: absolute;
    right: 0px;
    padding-top: 50px;
    width: 300px;
    height: 600px;
    top: 50px;
}

.colPages .button {
    top: 76px;
    right: 10%;
    z-index: 5;
    position: absolute;
    width: 65px;
    height: 50px;
}

.colPages .button div {
    width: 55px;
    position: relative;
    background: white;
    height: 9px;
    border-radius: 15px;
    margin-bottom: 9px;
}

/** Social cards **/

.socials {
    width: 300px;
    position: absolute;
    height: 400px;
    top: calc(50% - 200px);
    list-style: none;
    right: 10px;
}

.socials li {
    width: 280px;
    background-color: var(--color-secondary);
    height: 80px;
    margin-bottom: 25px;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 2px 2px white;
    padding: 10px
}

.socials li .social_image {
    width: 60px;
    border-radius: 80px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.socials li h2 {
    font-size: 27px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 60px - 10px - 5px);
    color: white;
}

.socials li p {
    font-size: 25px;
    float: right;
    margin-top: 0px;
    margin-left: 10px;
    width: calc(100% - 60px - 10px - 5px);
    color: grey;
}


/** Tablet mode **/

@media (max-width: 1650px){
    .pages div {
        margin-left: 5px;
        margin-right: 0px;
    }
}

@media (max-width: 1550px){
    .pages {
        position: absolute;
        bottom: 0px;
    }

    .header .separator {
        display: none;
    }
    .header {
        top: -50px;
        width: 100%;
        height: 300px;
        overflow-y: visible;
        padding-left: 0px;
    }
}

/** Mobile mode **/
@media (max-width: 930px){
    .header .title {
        width: calc(100% - 100px);
        position: absolute;
        left: 0px;
    }

    .header .titleHighlight {
        width: calc(100% - 100px);
        position: absolute;
        right: 100px;
    }

    .header {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
    }

    .pages {
        display: none;
    }

}